html {
    font: 14px/1.4 Sans-Serif;
  }

.form-search{
    display:flex;
    align-items:center;
    background-color: white;
    color:black;
    border-radius:10px;
    padding:6px;
}

.label-control{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.label-float{
    position: relative;
    padding-top: 13px;
  }

.label-float input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 15px 25px;
    font-size: 14px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
}

.label-float input:focus{
    border: 2px solid #3aa6ff94;
}
  
.label-float input::placeholder{
    color:transparent;
}

.label-float-sm input,textarea{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    font-size: 13px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
}

.label-float-sm input:focus{
    border: 2px solid #3951b2;
    box-shadow: 0px 0px 10px 1px #3aa6ff94;
}


.label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-image: linear-gradient(#ecebebe7 ,#ffffff);
    padding: 5px;
    box-sizing: border-box;
}
  
.label-float input:required:invalid + label{
    color: rgb(0, 0, 0);
    
}

.label-float input:focus:required:invalid{
    border: 2px solid #3aa6ff94;
}

  
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
font-size: 13px;
top: 0;
color: #000000;
}

.textarea textarea:focus{
    border: 2px solid #3aa6ff94;
}