*, p{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,h2{
    font-weight:500;
    text-align: center;
}

h3,p{
    text-align: center;
}

form, label{
    margin-left: 5px;
    padding: 0;
}

input, textarea {
    padding: 3px;
    margin: 1px 5px;
    border-radius: 5px;
    box-decoration-break: none;
}


body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 70px 1fr 30px;
    grid-template-areas: "cabecalho" "principal" "rodape";
}


/* CABEÇALHO */

.cabecalho{
    grid-area: cabecalho;
    display: flex;
    justify-content: space-between;
    background-color: #242424d2; 
    box-shadow: 0px 0px 10px 2px rgba(18,36,25,1);
    z-index:1;
    padding-right: 21px;
}

.nav{
    display:flex;
    flex-direction: row;
    align-items:center;
}

/* PRINCIPAL */

.principal{
    grid-area: principal;
    height: calc(100vh - 100px);
    background-color: #ffffff;
    padding: 20px;
    overflow-y: scroll;
}

.principal-form{
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    
}

.conteudo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.conteudo-center{
    display: flex;
    justify-content: center;
}

/* RODAPÉ */

.rodape{
    grid-area:rodape;
    background-color: #27ae60;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MENSAGENS */

.success{
    border: 1px solid #00ff009d;
    background-color: #a8ffa8d3;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.danger{
    border: 1px solid #ff000096;
    background-color: #ff9a9a;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.info{
    border: 1px solid #00a2fff1;
    background-color: #1272cc94;
    padding: 15px;
    text-align: center;
    margin: 10px;
}

/* CSS DOS BOTÕES */

.btn{
    background-color:#b3b3b3;
    padding:10px;
    margin:5px 10px;
    border-radius:5px;
    text-decoration:none;
    color:white;
}

.btn-search{
    background-color:#27ae60;
    border-radius:5px;
    padding: 2px;
    border: 1px solid #27ae60;
    text-decoration:none;
    color:white;
}

.btn-success{
    background-color:#27ae60;
    border-radius:5px;
    border: 1px solid #27ae60;
    text-decoration:none;
    color:white;
}

.btn-success:hover{
    color:white;
    text-decoration:none;
    box-shadow: 0px 0px 10px 2px #27ae5f8c;
}

.btn-info{
    background-color: #4f70d3a1;
    border-radius: 10px;
    border: 1px solid #4f70d3a1;
    transition-duration: 0.2s;
}

.btn-info:hover{
    background-color: #4f70d3a1;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px rgba(0, 36, 153, 0.658);
    transition-duration: 0.2s;
}

.btn-danger{
    background-color: #e7474785;
    border-radius: 10px;
    border: 1px solid #e7474785;
    transition-duration: 0.2s;
}

.btn-danger:hover{
    background-color: #e7474785;
    box-shadow: 0px 0px 5px 2px #ee4d4d91;
    color: rgb(253, 253, 253);
    transition-duration: 0.2s;
}

.div-btn{
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}


